<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jhomlala.better_player">
    <application>
    <service
        android:name=".NotificationService"
        android:stopWithTask="false" />
<!--        <receiver android:name=".CustomMediaButtonReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_BUTTON" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>
</manifest>
